<html>
<form action="/my-handling-form-page" method="post" enctype="multipart/form-data">
  <ul>
    <li>
      <label for="manufacturer">Manufacturer:</label>
      <input type="text" id="manufacturer" name="manufacturer">
    </li>
    <li>
      <label for="model">Model:</label>
      <input type="text" id="model" name="model">
    </li>
    <li>
      <label for="year">Year:</label>
      <textarea id="year" name="year"></textarea>
    </li>
    <li>
      <label for="color">Color:</label>
      <textarea id="color" name="color"></textarea>
    </li>
    <li>
      <label for="vin">vin:</label>
      <textarea id="vin" name="vin"></textarea>
    </li>
  </ul>
  <input type="submit" value="submit"/>
</form>
</html>